@charset "UTF-8";
/* css reset */
*{
    margin: 0;
    border: 0;
    padding: 0;
}

body{
    background-color: rgb(100, 100, 100);    
}

#interface{
    max-width: 1200px;
    margin: 0 auto;
}

#top{
    height: 130px;
}

#menu{
    display: block;
    position:absolute;
    width: 800px;
    top: 98px;
    margin-left: 300px;
    z-index:1;
}
#menu ul{
    text-decoration: none;
    list-style: none;
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1em;
}

#menu li{
    float: left;
    background: black;
}

#menu li a{
    color: #FFF;
    text-decoration: none;
    margin: 0px;
    padding: 5px 25px;
    display: block;
}

#menu li a:hover{
    background: #FFF;
    color: #000;
    text-decoration: underline;
}

/*SUB MENU*/
#menu li ul{
    display: none;
    font-size: 1em;
}

#menu li:hover ul{
    display: block;
    position: relative;
}

#menu li:hover li{
    float: none;
}
/*FIM DO SUB MENU*/

/* BANNER */
#banner-anime{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 350px;
    margin: 0px;
}

#anime1, #anime2{
    max-width: 100%;
    height: auto;
}

#banner-anime img{
    position: absolute;
    transition-property: opacity;
    transition-duration: 1s;
    transition-timing-function: linear;
    /*ease, ease-in, ease-out, aliviar-in-out, cubico-bezier*/
}

#anime1, #anime2:hover{
    opacity: 1;
}

#anime1:hover, #anime2{
    opacity: 0;
}

/* FIM BANNER */

/* CONTEUDO */
#content{
    position: relative;
    max-width: 1200px;
    height: auto;
    left:5px;
    text-align: center;
}

.console{
    float: left;
    width: 360px;
    margin: 10px 20px;
}

h2{
    color: white;
    font-size: 1.3em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 10px;
}
p {
    text-align: justify;
    color: white;
    font-size: 1.1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px 15px;
}
img{
    max-width: 100%;
    height: auto;
}
span{
    font-size: 1.2em;
    text-decoration: none;
}

span a{
    font-size: 1.2em;
    text-decoration: none;
    color:white;
    background: darkgrey;
    padding: 5px 10px;
    border-radius: 30px;
}

span a:hover{
    background-color: black;    
}

#footer{
    clear: both;
    border-top: 2px solid darkgrey;
    padding: 5px;
}

#footer p{
    text-align: center;
}
