body {
    background: #5c599e;
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
}

div {
    background: #04021b;
    width: 400px;
    height: 300px;
    text-align: center;
    margin: 20px auto;
    padding: 20px 0px;
    border-radius: 30px;
}
